.header_reiki{
    background-image: url('../images/reiki.jpg');
}

.img_reiki{
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: auto;;
    justify-content: center;
}

.img_reiki_gral{
    width: 10%;
    display: block; 
    margin-top: 30px;
    margin-bottom: 30px;
}

.cristal_rojo:hover{
    content: url('../images/cristal_rojo.png');
}

.cristal_naranja:hover{
    content: url('../images/cristal_naranja.png');
}

.cristal_amarillo:hover{
    content: url('../images/cristal_amarillo.png');
}

.cristal_verde:hover{
    content: url('../images/cristal_verde.png');
}

.cristal_turquesa:hover{
    content: url('../images/cristal_turquesa.png');
}

.cristal_azul:hover{
    content: url('../images/cristal_azul.png');
}

.cristal_violeta:hover{
    content: url('../images/cristal_violeta.png');
}

.seccion-6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0 5%;
    width: 100%;
    height: auto;
}

.size{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    .header_reiki{
        background-image: url('../images/reiki.jpg');
        height: 100vh;
    }

    .size{
        font-size: 30px;
    }
}