@font-face {
    font-family: 'Seven';
    src: url('../fonts/Seven.TTF') format('truetype');
}

@font-face {
    font-family: 'Prototype';
    src: url('../fonts/Prototype.ttf');
}

@font-face {
    font-family: Sensations;
    src: url('../fonts/Sensations.ttf') format('truetype');
}

@font-face {
    font-family: Le Jour Script;
    src: url(../fonts/Le-Jour-Script.otf) format('opentype');
}

:root{

    /*COLORS*/
    --primary-color: #512DA8;
    --secondary-color: #673AB7;
    --base-color: white;
    --actionBar-color: rgba(0, 0, 0, 0.5);
    --subtitle-color: gray;

    --blanco: white;
    --azul: blue;


    /*SIZES*/
    --text: 25px;
    

    

    /*FONTS*/
    --seven: 'Seven', sans-serif;
    --prototype: 'Prototype', sans-serif;
    --sensations: 'Sensations', sans-serif;
    --le_your_script: 'Le Jour Script', sans-serif;
}